/* styles.css */

/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-top: 0;
}

/* Image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-right: 20px; 
}

/* Anchor styles */
a {
    color: #4F3674;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4F3674;
}
