#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #3498db !important; /* Blue background color */
    color: #fff; /* White font color */
    border: 1px solid #D6A800;
    padding: 10px;
}
#page {
    background-color: Green;
}

a {
    color: #2ecc71; /* Green link color */
    text-decoration: none;
}

a:hover {
    color: #27ae60; /* Darker green on hover */
}

a:visited {
    color: #01153e; /* Dark blue for visited links */
}